<%- include('./partials/header'); %>

<main>
   <div class="ui grid segment ">
       <div class="segment eight wide column">
           <h1>MaddMonkey81 Web Dev</h1>
           <h1>Csv Graphing Tool</h1>
           <p>Version v1.0</p>
       </div>
   </div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body> 
</html>